@media screen and (max-width: 760px){
    
    body{
        max-width: 100%;
    }

    .menu{
        max-width: 100%;
        font-size:25px;
    }

    nav{
        max-width: 100%;
    }
    
    .menu .logo{
        margin: auto ;
    }

    .navgation{
        display: none;
    }

    .apresentacao{
        display: block;
        text-align: center;
    }

    .apresentacao-f{
        margin: 10% auto;
        padding: 15px 0;
        font-size: 30px;
        max-width: 100%;
    }

    .apresentacao img{
        margin: 5% 0;
    }

    .sobre-mim{
        flex-direction: column;
        
    }

    .sobre{
        align-self: center;
        max-width: 100%;
        
    }

    .img-sobre{
        display: none;
    }

    .conhecimentos{
        max-width: 100%;
    }


    .contato p{
        max-width: 100%;
    }

    .wpp-email a{
     font-size: 20px;
    }

    footer{
        max-width: 100%;
    }

}